[connection]
id=Connessione via cavo 1
uuid=e0d0dbe0-a341-4e5a-b2c9-66e7a3bc9ca2
type=ethernet
permissions=
secondaries=
timestamp=1506178645

[ethernet]
duplex=full
mac-address=00:0C:29:2A:D5:75
mac-address-blacklist=

[ipv4]
dns=8.8.8.8;
dns-search=
method=auto

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
ip6-privacy=0
method=auto
